.about__container {
  padding: 15px;
}

.about__text {
  margin: 15px 0 0 0;

  font-size: 14px;
  line-height: 20px;
  color: #2e2e2e;
}

.about__text--top {
  margin: 0;
}

.about__header {
  margin: 30px 0 0 0;

  font-size: 30px;
  colot: #000102;
}

.about__rules-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__rules-title {
  margin: 20px 0 0 0;

  font-size: 20px;
  color: #000000;
}

.about__rules-item {
  position: relative;

  padding-top: 70px;
  margin-top: 25px;
}

.about__rules-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 64px;
  height: 64px;
  border: 3px solid #f1f1f1;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about__rules-item--delivery::before {
  background-image: url("../img/truck.png");
  background-size: 34px 28px;
}

.about__rules-item--products::before {
  background-image: url("../img/sprout.png");
  background-size: 32px 32px;
}

.about__rules-item--clients::before {
  background-image: url("../img/percent.png");
  background-size: 39px 39px;
}

.about__contacts-name {
  margin: 25px 0 0 0;
}

.about__contacts-tel {
  margin: 10px 0 0 0;

  font-size: 24px;
  color: #e94a42;
}

.about__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 600px) {
    justify-content: flex-start;    
  }
}

.about__social-item {
  margin-right: 28px;
}

.about__social-link {
  font-size: 18px;
  color: #e94a42;
}

/*==========================================================*/

@media (min-width: $desktop-width) {
  .about__container {
    padding: 60px;
  }

  .about__text {
    margin-top: 20px;

    font-size: 18px;
    line-height: 27px;
  }

  .about__header {
    margin-top: 55px;
    font-size: 48px;
  }

  .about__rules-title {
    font-size: 24px;
  }

  .about__rules-item {
    padding: 0 0 0 165px;
  }

  .about__rules-item::before {
    width: 94px;
    height: 94px;
  }

  .about__rules-item--delivery::before {
    background-size: 48px 40px;
  }

  .about__rules-item--products::before {
    background-size: 46px 46px;
  }

  .about__rules-item--clients::before {
    background-size: 55px 55px;
  }

  .about__contacts-list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__contacts-item {
    min-width: 30%;
  }

  .about__contacts-name {
    margin-top: 55px;
  }

  .about__contacts-tel {
    margin-top: 15px;
    font-size: 30px;
  }

  .about__social-lead {
    margin: 55px 0 0 0;
  }

  .about__social-list {
    justify-content: flex-start;
    margin: 20px 0 0 0;
  }

  .about__social-item {
    margin-right: 55px;
  }

  .about__social-link {
    font-size: 24px;
  }
}